package main

const (
	debug       = true // Set to false to turn off logging every API request.
	sessionName = "openglass"
	secret      = "" // Make it a random string

	// Created at http://code.google.com/apis/console, these identify
	// our app for the OAuth protocol.
	clientId     = ""
	clientSecret = ""

	fullUrl      = "https://api.picar.us/openglass"
	scopes       = "https://www.googleapis.com/auth/glass.timeline " +
		"https://www.googleapis.com/auth/glass.location " +
		"https://www.googleapis.com/auth/userinfo.profile"
	ravenDSN        = "" // Leave blank unless you are using Raven/Sentry for logging
	redisServerPort = "" // Fill in with your host:port
)
