package main

const (
    // You can leave these
	debug       = true // Set to false to turn off logging every API request.
	sessionName = "wearscript"
	scopes       = "https://www.googleapis.com/auth/glass.timeline " +
		"https://www.googleapis.com/auth/glass.location " +
		"https://www.googleapis.com/auth/userinfo.profile"

    // You need to fill in the rest
	secret      = "" // Make it a random string

	// Created at http://code.google.com/apis/console, these identify our app for the OAuth protocol.
	clientId     = ""
	clientSecret = ""

    // Server info
	fullUrl      = ""  // Url to the server (e.g., https://example.com) for mirror api
    wsUrl        = ""  // Url websocket clients use (e.g., wss://example.com or ws://example.com)
	ravenDSN        = "" // Leave blank unless you are using Raven/Sentry for logging
	redisServerPort = "" // Fill in with your host:port
	servePort = "8080"  // Fill in with the port you want to host on
)
