package main

const (
    // You can leave these
	version = 0 // Defines the websocket protocol version
	debug       = true // Set to false to turn off logging every API request.
	allowAllUsers = true // If true then all users who auth can access the server, false admin must verify
	sessionName = "wearscript"
	scopes       = "https://www.googleapis.com/auth/glass.timeline " +
		"https://www.googleapis.com/auth/glass.location " +
		"https://www.googleapis.com/auth/userinfo.profile"
	ravenDSN        = "" // Leave blank unless you are using Raven/Sentry for logging
	singleUserMode = false

    // You need to fill in the rest
	secret      = "" // Make it a random string

	// Created at http://code.google.com/apis/console, these identify our app for the OAuth protocol.
	clientId     = ""
	clientSecret = ""
	
	
        // Created at https://github.com/settings/applications/new to support Gist integration
        clientIdGH     = ""
        clientSecretGH = ""

    // Server info
	fullUrl      = "http://localhost:8080"  // Url to the server (e.g., https://example.com) for mirror api, this is the base url that you can connect to the server with.  If you are using a load balancer or other front end, use that url here.  If not then it is often http://yourhot:servePort
    wsUrl        = "ws://localhost:8080"  // Url websocket clients use (e.g., wss://example.com or ws://example.com), same form/use as fullUrl but for the websocket, normally just use the fullUrl but replace http:// with ws:// or https:// with wss://
	redisServerPort = "localhost:6379" // Fill in with your host:port
	servePort = "8080"  // Fill in with the port you want to host on
)
