<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openshades.android.glass.launchy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GlassTheme" >
        <activity
            android:name="com.openshades.android.glass.launchy.MainActivity"
            android:label="@string/app_name" android:clearTaskOnLaunch="true" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.voice_trigger" android:resource="@string/voice_menu_trigger" />
        </activity>
        <activity android:name="com.openshades.android.glass.launchy.LaunchActivity" android:clearTaskOnLaunch="true" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="launchy"/>
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="youtube"/>
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="http"  android:host="*.youtube.com" android:pathPrefix="/watch" />-->
                <!--<data android:scheme="https" android:host="*.youtube.com" android:pathPrefix="/watch" />-->
            <!--</intent-filter>-->
            <!-- above, works, at least via command line specifying all pieces of browsable and default -->
            <!-- cant ever get below working so tried to change it a bit -->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<data android:scheme="http"  android:host="*.youtube.com" android:pathPrefix="/watch" />-->
                <!--<data android:scheme="https" android:host="*.youtube.com" android:pathPrefix="/watch" />-->
            <!--</intent-filter>-->
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="sausage" />
            </intent-filter>

        </activity>

<!--         <receiver android:name=".LongPressBroadcastReceiver" >
            <intent-filter android:priority="1000" >
                Replaces normal, long press to Google, if this is a launcher, it's basically a system app
                <action android:name="com.google.glass.action.LONG_TAP" />
            </intent-filter>
        </receiver> -->
    </application>
</manifest>
